.light-editor-container__zyzTb {
  width: 100%;
  height: 100px;
  -ms-flex: 1;
      flex: 1;
  background-color: #F5F6F7;
}
.ud__loading__lottie {
  margin: auto;
}

.coding-bar-container__yVktK {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 46px;
  line-height: 46px;
  padding: 0 24px;
  border-bottom: 1px solid rgba(187, 191, 196, 0.5);
}
.coding-bar-container__yVktK .universe-icon {
  cursor: pointer;
}
.coding-bar-container__yVktK .universe-icon:hover {
  color: #3370ff;
}
.coding-bar-container__yVktK .coding-bar-toolbar__gHmkJ .universe-icon {
  margin-left: 18px;
}
.setting-card__o60sX {
  width: 254px;
  padding: 8px;
}
.setting-card__o60sX .setting-card-item__zSqLD:not(:last-child) {
  margin-bottom: 8px;
}
.setting-card__o60sX .setting-card-item__zSqLD label {
  display: block;
  color: #646a73;
  margin-bottom: 12px;
}
.setting-card__o60sX .setting-card-item__zSqLD .ud__select {
  margin-bottom: 12px;
}
.setting-card__o60sX .setting-card-item__zSqLD .setting-card-item-others__OIgCu {
  margin-bottom: 12px;
}
.setting-card__o60sX .setting-card-item__zSqLD .setting-card-item-others__OIgCu span {
  margin-left: 12px;
}
.empty-select__SStyh {
  display: block;
  color: #bbbfc4;
  line-height: 18px;
  height: 18px;
  margin: 14px 0;
}
.empty-select__SStyh .universe-icon:hover {
  color: #bbbfc4;
}
.interviewerLanguagePopover__FIuNt .ud__popover-content {
  max-height: 288px;
  overflow-y: auto;
  overflow-y: overlay;
}
.candidateLanguageDropdown__ooY55 .ud__menu-normal {
  max-height: 288px;
  overflow-y: auto;
  overflow-y: overlay;
}

.submission-list__xMf4K {
  height: 100%;
}
.submission-list__xMf4K .submission-item__A1E_0 {
  line-height: 22px;
  color: #646a73;
  padding-bottom: 3px;
}
.submission-list__xMf4K .submission-item-tag__p1pL4 {
  display: inline-block;
  width: 76px;
}
.submission-list__xMf4K .submission-item-tag__p1pL4 .ud__tag__content {
  font-weight: 400;
}
.submission-list__xMf4K .submission-item__A1E_0:last-child {
  padding-bottom: 16px;
}
.submission-detail__h8rkk .submission-detail-description__GG5pZ {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}
.submission-detail__h8rkk .submission-detail-description__GG5pZ section {
  -ms-flex: 1;
      flex: 1;
}
.submission-detail__h8rkk .submission-detail-description__GG5pZ p {
  color: #646a73;
  line-height: 22px;
  font-size: 14px;
}
.submission-detail__h8rkk .submission-detail-description__GG5pZ .ud__tag__content {
  font-weight: 400;
}
.submission-detail__h8rkk .submission-detail-code-container__zhTQS .submission-detail-code__B1Dh6 {
  background: #f5f6f7;
  border: 1px solid #dee0e3;
  border-radius: 4px;
}
.submission-detail__h8rkk .submission-detail-code-container__zhTQS .submission-detail-code__B1Dh6 .submission-detail-code-language__V7rAL {
  line-height: 22px;
  color: #1f2329;
  border-bottom: 1px solid #dee0e3;
  padding: 16px 12px;
}
.submission-detail__h8rkk .submission-detail-code-container__zhTQS .submission-detail-code__B1Dh6 .hljs {
  background: none;
  font-family: Menlo, Monaco, "Courier New", monospace;
  padding: 16px 12px;
  font-size: 13px;
  line-height: 22px;
}
.submission-detail__h8rkk .submission-detail-input__BgieG {
  padding: 28px 0 16px;
}
.submission-detail__h8rkk .submission-detail-input__BgieG pre {
  min-height: 46px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 13px;
  background: #f5f6f7;
  padding: 12px 16px;
  border: 1px solid #dee0e3;
  border-radius: 4px;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
}
.submission-detail__h8rkk .submission-detail-output__dLd00 {
  padding: 12px 0 16px 0;
}
.submission-detail__h8rkk .submission-detail-output__dLd00 pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 13px;
  background: #f5f6f7;
  padding: 12px 16px;
  border: 1px solid #dee0e3;
  border-radius: 4px;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
}
.submission-detail__h8rkk label {
  display: block;
  font-weight: 500;
  line-height: 22px;
  color: #1f2329;
  margin-bottom: 8px;
}

.access-record__tZq2g p {
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 4px;
  color: #646a73;
}
.access-record-type-1__S0CFU,
.access-record-type-3__tWJMt {
  padding: 0 4px;
  color: #2ea121;
}
.access-record-type-2__OpiyM {
  padding: 0 4px;
  color: #d83931;
}

.coding-console-container__erKtn {
  position: relative;
}
.coding-console-container__erKtn .top-bar__Zl4XQ {
  position: absolute;
  top: 0;
  right: 0;
  height: 4px;
  width: 100%;
  border-top: 1px solid rgba(187, 191, 196, 0.5);
  z-index: 500;
}
.coding-console-container__erKtn .top-bar__Zl4XQ:hover {
  border-top: 2px solid #3370ff;
  cursor: row-resize;
}
.coding-console-container__erKtn .coding-console-tabs__jHItU {
  display: -ms-flexbox;
  display: flex;
  padding: 0 24px;
  border-bottom: 1px solid rgba(187, 191, 196, 0.5);
}
.coding-console-container__erKtn .coding-console-tabs__jHItU .coding-console-extra__xhvvR {
  -ms-flex: 1;
      flex: 1;
  line-height: 46px;
  text-align: right;
}
.coding-console-container__erKtn .coding-console-tabs__jHItU .ud__tabs--type-line .ud__tabs__tab-bar-holder {
  margin-bottom: 0;
}
.coding-console-container__erKtn .coding-console-tabs__jHItU .ud__tabs--type-line .ud__tabs__tab-bar-holder::after {
  height: 0;
}
.coding-console-container__erKtn .coding-console-container-result__vOjnq {
  padding: 16px 24px;
  min-height: 100px;
  height: 200px;
  overflow: auto;
}
.coding-console-container__erKtn .coding-console-container-result__vOjnq .ud__textarea,
.coding-console-container__erKtn .coding-console-container-result__vOjnq textarea {
  resize: none;
  height: 100% !important;
}
.coding-console-container__erKtn .coding-console-container-result__vOjnq pre {
  font-family: Menlo, Monaco, 'Courier New', monospace;
  font-size: 13px;
  margin: 0;
}

.coding-container__TinZK {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 400px;
  height: 100%;
}

.interview-header-tabs-container__zAa_7 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 100;
      flex: 100;
}
.interview-header-tabs-container__zAa_7 .interview-header-tabs__bU6_V {
  -ms-flex: 1;
      flex: 1;
}
.interview-header-tabs-container__zAa_7 .interview-header-tabs__bU6_V .ud__tooltip .ud__tooltip-content {
  padding: 0;
  background: #4e83fd;
  border-color: #4e83fd;
}
.interview-header-tabs-container__zAa_7 .interview-header-tabs__bU6_V .ud__tooltip .ud__tooltip__arrow .ud__tooltip__arrow__content {
  border-color: #4e83fd;
  background-color: #4e83fd;
}
.interview-header-tabs-container__zAa_7 .interview-header-tabs__bU6_V .ud__tabs__tab-bar-wrap .ud__overflow .ud__overflow__item:first-child .ud__tabs__tab:not(.ud__tabs__tab--active)::before {
  content: '';
  position: absolute;
  left: -1px;
  top: 8px;
  bottom: 8px;
  background-color: rgba(31, 35, 41, 0.15);
  width: 1px;
}
.interview-header-tabs-container__zAa_7 .interview-header-tabs__bU6_V .ud__tabs__tab-bar-wrap .ud__overflow .ud__overflow__item:nth-last-child(2) .ud__tabs__tab--divider::after {
  width: 0;
}
.interview-header-tabs-container__zAa_7 .interview-header-tabs__bU6_V .ud__tabs__tab-bar-wrap .ud__overflow .ud__overflow__item .ud__tabs__tab--active {
  border-bottom-color: #fff;
  background-color: #fff;
}
.interview-header-tabs-container__zAa_7 .interview-header-tabs__bU6_V .ud__tabs__tab-bar-wrap .ud__overflow .ud__overflow__item .ud__tabs__tab--active::after {
  width: 0;
}
.interview-header-tabs-container__zAa_7 .interview-header-tabs__bU6_V .ud__tabs__tab-bar-wrap .ud__overflow .ud__overflow__rest {
  width: 1;
}
.interview-header-tabs-container__zAa_7 .interview-header-tabs__bU6_V .ud__tabs__content {
  width: 0;
}
.interview-header-tabs-container__zAa_7 .interview-header-tabs__bU6_V .ud__tabs__content .ud__tabs__pane {
  width: 0;
}
.interview-header-tabs-container__zAa_7 .interview-header-tabs__bU6_V .add-topic__tneiD {
  border-bottom: 1px solid rgba(31, 35, 41, 0.15);
}
.interview-header-tabs-container__zAa_7 .left-divider__YhGAO {
  width: 1px;
  background-color: rgba(31, 35, 41, 0.15);
  height: 22px;
  margin: auto;
}
.deleteIcon__IfSaG {
  padding: 4px;
  border-radius: 4px;
  margin-left: 8px;
  color: #1f2329;
}
.deleteIcon__IfSaG:hover {
  background-color: rgba(31, 35, 41, 0.1);
  color: #2b2f36;
}
.addIcon___0Gm0 {
  padding: 4px;
  border-radius: 4px;
  color: #1f2329;
  font-size: 16px;
}
.addIcon___0Gm0:hover {
  background-color: rgba(31, 35, 41, 0.1);
  color: #2b2f36;
}

.candidate-header__IZA4T {
  margin-top: 2px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
}
.candidate-header__IZA4T .logo__zKk_G {
  line-height: 40px;
  padding: 0 24px;
  border-bottom: 1px solid rgba(31, 35, 41, 0.15);
  font-weight: bold;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.candidate-header__IZA4T .logo__zKk_G span {
  padding-left: 8px;
}

.content-container__TT5zn {
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 42px);
  overflow: hidden;
}
.content-container__TT5zn .gutter-show-part__sRtzd {
  display: none;
  cursor: col-resize;
  width: 5px;
  height: 100%;
}
.content-container__TT5zn .ud__loading-nested-loading {
  height: 100%;
  width: 100%;
}
.content-container__TT5zn .ud__loading-nested-loading .ud__loading__container {
  height: 100%;
  width: 100%;
}
.ud__dropdown .ud__menu-normal-item-selected .ud__menu-normal-item-suffix-icon {
  display: none;
}
.ud__dropdown .ud__menu-normal-item-selected, .ud__menu-normal-submenu-title {
  padding-right: 11px;
}


/*# sourceMappingURL=810.747ef3cd0af12d03b8f8.css.map*/